flows.json
[
    {
        "id": "54ddcf12b3852818",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "19d9e596ae7b753c",
        "type": "telegram receiver",
        "z": "54ddcf12b3852818",
        "name": "Receba mensagens do Telegram",
        "bot": "6c94e69927ad0a85",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "7beb6b41e38f8a59"
            ],
            [
                "72080d5e6690a823"
            ]
        ]
    },
    {
        "id": "7beb6b41e38f8a59",
        "type": "debug",
        "z": "54ddcf12b3852818",
        "name": "Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "72080d5e6690a823",
        "type": "function",
        "z": "54ddcf12b3852818",
        "name": "ProcnIN STT",
        "func": "msg.params = {};\nmsg.params.session_id = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "dafd4697bf2a6698"
            ]
        ]
    },
    {
        "id": "dafd4697bf2a6698",
        "type": "watson-speech-to-text",
        "z": "54ddcf12b3852818",
        "name": "STT",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "",
        "langhidden": "",
        "langcustom": "",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "00MslAXzobghtgIbf55EDzyzNtuOEy2dCfiVr1PRz3WG",
        "payload-response": false,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "",
        "x": 670,
        "y": 220,
        "wires": [
            [
                "cf184ef256bde1c2",
                "48d083e54798e974"
            ]
        ]
    },
    {
        "id": "cf184ef256bde1c2",
        "type": "debug",
        "z": "54ddcf12b3852818",
        "name": "SST",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "48d083e54798e974",
        "type": "watson-translator",
        "z": "54ddcf12b3852818",
        "name": "",
        "action": "translate",
        "basemodel": "",
        "domain": "news",
        "srclang": "en",
        "destlang": "fr",
        "apikey": "QNFZwZg5Q35E88593jMLOBgYazkogIht5B1LMudyc88g",
        "custom": "",
        "domainhidden": "",
        "srclanghidden": "",
        "destlanghidden": "",
        "basemodelhidden": "",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/5ca5021a-c25a-4ed9-ab4a-67efcd475d7d",
        "x": 890,
        "y": 220,
        "wires": [
            [
                "7c1fbff882ee7144"
            ]
        ]
    },
    {
        "id": "7c1fbff882ee7144",
        "type": "function",
        "z": "54ddcf12b3852818",
        "name": "ProcnIN Telegram",
        "func": "msg.params = {};\nmsg.params.session_id = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 340,
        "wires": [
            [
                "5de45b63a4815f42",
                "b184c1360885b6a2"
            ]
        ]
    },
    {
        "id": "5de45b63a4815f42",
        "type": "telegram sender",
        "z": "54ddcf12b3852818",
        "name": "",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1010,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b184c1360885b6a2",
        "type": "debug",
        "z": "54ddcf12b3852818",
        "name": "Retorno Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 360,
        "wires": []
    },
    {
        "id": "6c94e69927ad0a85",
        "type": "telegram bot",
        "botname": "TOB - O Bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]